END;
$$;

-- ============================================================
-- 17. DYNAMIC ASSESSMENTS & RESULTS (FAT 1, FAT 2, End Sem)
-- ============================================================
CREATE TABLE IF NOT EXISTS exams (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
    batch_id UUID NOT NULL REFERENCES batches(id) ON DELETE CASCADE,
    name VARCHAR(100) NOT NULL, -- e.g., 'FAT 1', 'FAT 2', 'End Semester'
    exam_type VARCHAR(50) NOT NULL DEFAULT 'internal', -- 'internal', 'external'
    max_marks INT DEFAULT 100,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(tenant_id, batch_id, name)
);

CREATE INDEX IF NOT EXISTS idx_exams_tenant ON exams(tenant_id);

CREATE TABLE IF NOT EXISTS exam_marks (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    tenant_id UUID NOT NULL REFERENCES tenants(id) ON DELETE CASCADE,
    exam_id UUID NOT NULL REFERENCES exams(id) ON DELETE CASCADE,
    subject_id UUID NOT NULL REFERENCES subjects(id) ON DELETE CASCADE,
    student_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    marks NUMERIC(5,2),
    updated_by UUID REFERENCES users(id),
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(tenant_id, exam_id, subject_id, student_id)
);

CREATE INDEX IF NOT EXISTS idx_exammarks_tenant ON exam_marks(tenant_id);

-- Add od_type to od_requests (Phase 9)
ALTER TABLE od_requests 
ADD COLUMN IF NOT EXISTS od_type VARCHAR(50) DEFAULT 'normal';

-- Add triggers for exams and exam_marks updated_at
DO $$
DECLARE
    t TEXT;
BEGIN
    FOR t IN
        SELECT unnest(ARRAY['exams', 'exam_marks'])
    LOOP
        EXECUTE format('
            DROP TRIGGER IF EXISTS update_%I_updated_at ON %I;
            CREATE TRIGGER update_%I_updated_at
            BEFORE UPDATE ON %I
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();
        ', t, t, t, t);
    END LOOP;
END;
$$;
